
body {
  background-color: teal;
}
#menu {
  width: 900px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}
p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  word-spacing: -2px;
  color: blue;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}
p2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  word-spacing: -2px;
  color: teal;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}

#menuButtons {
  padding-top: 1px;
  background-color: black;
  position: relative;
}
#settings {
  width: 900px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}
#playAgainMenu {
  width: 900px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.mainStart{
  width: 300px;
  height: 50px;
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.mainStart2{
  width: 300px;
  height: 50px;
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.points5{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.points6{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.points7{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.points8{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.points9{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}.points9{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.points10{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 1px 1px;
}
.numberBall1{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 1px 1px;
}
.numberBall2{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 1px 1px;
}
.numberBall3{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 1px 1px;
}
.reactOn{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 1px 1px;
}
.reactOff{
  width: 20px;
  height: 20px;
  background-color: blue;
  border: teal;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 1px 1px;
}
point {
  
  font-size: 30px;
  letter-spacing: -2px;
  word-spacing: -2px;
  color: blue;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}
numberBall {
  
  font-size: 30px;
  letter-spacing: -2px;
  word-spacing: -2px;
  color: blue;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}
reactBall {
  
  font-size: 30px;
  letter-spacing: -2px;
  word-spacing: -2px;
  color: blue;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}
info {
  
  font-size: 25px;
  letter-spacing: -2px;
  word-spacing: 5px;
  color: rgb(112, 2, 2);
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}

#board {
  
  width: 900px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
  
}

#gameItem {
  background-color: teal;
  width: 50px;
  height: 50px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
#paddleLeft {
  background-color: blue;
  width: 20px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: 25px;
}
#paddleRight {
  background-color: gold;
  width: 20px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 190px;
  border-radius: 25px;
}
#ball {
  background-color: magenta;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 190px;
}
#ball2 {
  background-color: magenta;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 190px;
}
#ball3 {
  background-color: magenta;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 190px;
}
#scoreRight {
  font-family: Impact, Charcoal, sans-serif;
  color: teal;
  width: 70px;
	height: 60px;
  border-radius: 40px;
	background-color: gold;
	font-size: 300%;
	text-align: center;
	display: block;
	position: absolute;
	top: 440px;
	left: 500px;
}
#scoreLeft {
  font-family: Impact, Charcoal, sans-serif;
  color: teal;
  width: 70px;
	height: 60px;
  border-radius: 40px;
	background-color: blue;
	font-size: 300%;
	text-align: center;
	display: block;
	position: absolute;
	top: 440px;
	left: 300px;
}
#block {
  width: 70px;
	height: 70px;
	background-color: blue;
	font-size: 300%;
	text-align: center;
	display: block;
	position: absolute;
	top: 200px;
	left: 300px;
}
#message {
  width: 450px;
	height: 65px;
	background-color: teal;
	font-size: 300%;
	text-align: center;
  top: 100px;
  left: 225px;
	display: block;
	position: absolute;
}
.reset {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}